<div class="panel panel-default">
  <div class="panel-heading">Información de contacto</div>
  <div class="panel-body">
    <p>Nombre: <%= @post.user.name %></p>
    <p>Contacto: <%= @post.contact %></p>
  </div>
</div>

    